{% extends 'backoffice/base.html.twig' %}

{% block title %} - Bienvenue{% endblock %}

{% block body %}
    
<div class="container mx-auto">
    <div>
        <a href="{{ url('backoffice_browse') }}" class="btn btn-primary" alt="List" title="List">
            Retour
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </a>
        <a href="{{ url('backoffice_edit', {"id": article.id}) }}" class="btn btn-success" alt="List" title="List">
        Editer
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        </a> 
    </div>
    <div class="d-flex col-lg-12 col-sm-6">
        <div class="card col-4 my-1 bg-white align-self-start">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{ asset('uploads/') }}{{ article.cover }}" class="img-fluid" />
            </div>
            <h4 class="card-header">Titre : {{ article.title }}</h4>
            <div class="card-body">
                <p class="card-text">Texte : {{ article.content }}</p>                
            </div>
            <div class="card-footer d-flex justify-content-between flex-column">
                <p class="my-0">Image : {{ article.cover }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">Slug : {{ article.slug }}</p>                
            </div>
            <div class="card-footer d-flex justify-content-between flex-column">
                <p class="my-0">Publié le : {{ article.dateCreated|date("d/m/Y") }}</p>
            </div>
            
        </div> 
    </div>
</div>


{% endblock %}